.model-container{
    display: flex;
    margin-top: -1px;
    background: #590616;
    flex-direction: row;
}

.model-text{
    width: 40%;
    color: white;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 2%;
}

.model-text h1{
    font-size: 5vw;
    font-weight: 900;
}
.model-text p{
   padding-top: 10%;
   font-size: 2vw;
   text-justify: none;
}

.model-3d{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20px;
    width: 60%;
    height: 500px;
    background: #ECECEC;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    margin-right: 20px;
}

.model-3d:hover{
    cursor: pointer;
}

@media (max-width:870px) {

    .model-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .model-text{
        width: 80%;
    }

    .model-text br-text{
        display: none;
    }

    .model-text p{
        font-size: 3vw;
        font-weight: bold;
    }
    .model-3d{
        width: 80%;
        height: 500px;
    }
}