.contact-container{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}

.contact-col ul li{
    align-items: center;
    display: flex;
    margin: 20px 0;
}

.btn-form img{
    width: 20%;
}

.contact-col form input, .contact-col form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.btn-form{
    background: #670010;
    color: #d6d5d6;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.contact-col span{
    display: block;
    margin: 20px 0;
}


@media (max-width: 470px){
    #msg-icon{
        display: none;
    }
}

@media (max-width: 430px){
    .contact-container {
      
        flex-direction: column;
        align-items: center; /* Opcional: Centra los elementos horizontalmente */
    }

    .contact-col {
        flex-basis: 100%;
        margin-bottom: 20px; /* Opcional: Agrega margen inferior entre secciones */
        width: 100%;
    }

    .contact-col:last-child {
        margin-bottom: 0; /* Opcional: Elimina margen inferior del último elemento */
    }
}